html, body {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
}
.navbar-nav {
	padding: 30px 14px;
}
.navbar {
	background-color: #fff;
	margin-bottom: 0px;
}
.logo1 {
	padding-right: 100px;
}
.collapse ul li a {
	color: #111111 !important;
}
.collapse ul li a:hover {
	color: #ee0548 !important;
}
.navbar-right {
	position: relative;
}
.fengexian::after {
	position: absolute;
	content: "";
	top: 14px;
	right: 0px;
	height: 20px;
	width: 1px;
	background: #666666;
}

/* 一 */
.two {
	padding: 90px 0;
	background-size: cover;
	background-position: center center;
	background: url('../images/banner.png') no-repeat;
}
.two1 h1 {
	color: #ffffff;
	font-family: 'Alex Brush', cursive;
	font-size: 72px;
	position: relative;
}
.two1 ul li {
	display: inline-block;
	border: 0px;
	margin: 0px 10px;
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
}
.two1 ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
}
.two1 ul li:first-child:after {

	/* 第一个儿子增加里面增加类 */
	position: absolute;
	content: "\f101";
	top: 0;
	left: 50px;
	right: 0;
	display: block;
}
#two1li {
	color: #ee0548;
}
/* 二 */
.there{
	padding: 100px 0px;
}
.there1 h3{
	position: relative;
    color: #111111;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px;
}
.there1 h3::after{	
    position: absolute;
    top: 45px;
    left: 0;
    width: 80px;
    height: 4px;
    background: #ee0548;
    content: "";
}
.there1 form{
	display: block;
    margin-top: 0em;
}
.there1 form fieldset{
	padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
    margin-top: 20px;
}
.acurate{
	padding: 0px;
    margin: 0px;
}
.form-control{
	height: 50px;
	border-radius: 0px;
	background: #dddddd;
}
.btn-send{
	width: 100%;
    background: #ee0548;
    border: 0 none;
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.there2-1{
	width: 100%;
	height: 600px;
}
.there2-2 h3{
	position: relative;
    color: #111111;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px;
}
.there2-2 h3::after{	
    position: absolute;
    top: 45px;
    left: 0;
    width: 80px;
    height: 4px;
    background: #ee0548;
    content: "";
}
.there2-2 ul{
	margin-top: 50px;
}
.there2-2 ul li{
	margin: 0px 20px;
	display: inline-block;
	list-style: none;
}
.there2-2 ul li i{
	color: #ee0548;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
}
/* 六 */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.dibu {
	padding: 100px 0;
	background: url('../images/bg (1).jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
.text-center ul {
	margin-top: 0;
	margin-bottom: 10px;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.text-center ul li {
	list-style: none;
	color: #fff;
}
.han img {
	max-width: 100%;
	height: auto;
}
.single-footer {
	margin: 33% auto;
}
.single-footer ul li {
	font-size: 25px;
}
.single-footer ul li i {
	color: #ffffff;
	margin-right: 20px;
}
#anniu3 {
	background: url(../images/love.png) no-repeat;
	bottom: 50px;
	color: #ffffff !important;
	display: block;
	font-size: 0px;
	height: 70px;
	line-height: 0;
	position: fixed;
	right: 0;
	text-align: center;
	width: 70px;
	display: none;
}
#anniu3 i {
	display: block;
	padding-top: 12px;
	font-size: 30px;
	font-weight: bold;
}